<!-- START services plans section -->
<div class="sevrices-plans pt-11 pb-7 pt-lg-10 pb-lg-15 bg-default-6 fancy-animation-block-two position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="main-features-box-container mt-7 mt-lg-0 pl-xl-19">
                    <div class="row align-items-center sevrices-plans-content-nav">
                        <div class="col-md-6 col-lg-12 aos-init aos-animate" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                            <div class="main-features-box media">
                                <span class="main-features-box-number">1</span>
                                <div class="media-icon circle-sm bg-blue mr-8">
                                    <span class="text-white the-icon"><i class="feather icon-server"></i></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="title mb-2">The best web hosting plan</h3>
                                    <p class="coodiv-text-9 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-12 aos-init aos-animate" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                            <div class="main-features-box media">
                                <span class="main-features-box-number">2</span>
                                <div class="media-icon circle-sm bg-info mr-8">
                                    <span class="text-white the-icon"><i class="feather icon-cloud"></i></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="title mb-2">Fully managed SSD cloud VPS</h3>
                                    <p class="coodiv-text-9 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-12 aos-init aos-animate" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                            <div class="main-features-box media">
                                <span class="main-features-box-number">3</span>
                                <div class="media-icon circle-sm bg-warning mr-8">
                                    <span class="text-white the-icon"><i class="fab fa-wordpress-simple"></i></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="title mb-2">#1 Managed WordPress hosting</h3>
                                    <p class="coodiv-text-9 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-12 aos-init aos-animate" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
                            <div class="main-features-box media">
                                <span class="main-features-box-number">4</span>
                                <div class="media-icon circle-sm bg-primary mr-8">
                                    <span class="text-white the-icon"><i class="feather icon-pocket"></i></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="title mb-2">Dedicated AMD EPYC CPU servers</h3>
                                    <p class="coodiv-text-9 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="content-plan-one pr-xl-19 planet-side sevrices-plans-content">
                    <div class="pricing-box-one plan-with-montains">
                        <i class="feather icon-server box-iconabsolute"></i>
                        <div class="price-content">
                                        <span class="small-title-header-span">
                                            Starter plan
                                            <span class="plan-badge">Save 40%</span>
                                        </span>
                            <div class="d-flex align-items-end mt-11">
                                <span class="currency mr-2 coodiv-text-6 font-weight-light line-spacing-none text-blackish-blue">$</span>
                                <h2 class="price-value coodiv-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="19" data-monthly="49" data-yearly="19">
                                    <span class="coodiv-text-8 font-weight-light">.99</span>
                                </h2>
                            </div>
                            <span
                                    class="price-bottom-text dynamic-value coodiv-text-11 mt-2 text-blackish-blue coodiv-opacity-7 d-inline-flex"
                                    data-active="billed yearly"
                                    data-monthly="billed monthly"
                                    data-yearly="billed yearly"
                            ></span>
                            <ul class="card-list list-style-check pl-0 mt-5 mt-lg-11">
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Commercial License</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>100+ HTML UI Elements</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Unlimited Domain Support</li>
                                <li class="disabled coodiv-text-11 mb-2"><i class="feather icon-x"></i>6 months premium support</li>
                                <li class="disabled coodiv-text-11"><i class="feather icon-x"></i>Lifetime updates</li>
                            </ul>
                        </div>
                        <a href="" class="btn btn-special-home-plan with-icon coodiv-hover-y px-xl-8 px-lg-4 px-sm-8 px-4 rounded-20 coodiv-text-12 text-uppercase">Try The Plan Now</a>
                        <div class="pricing-box-one-payment text-center mt-5">
                            <a href="#"><img src="image/payment/icon-visa.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-maestro.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-bitcoin.png" alt="" /></a>
                        </div>
                    </div>

                    <div class="pricing-box-one plan-with-montains">
                        <i class="feather icon-server box-iconabsolute"></i>
                        <div class="price-content">
                                        <span class="small-title-header-span">
                                            Starter plan
                                            <span class="plan-badge">Save 40%</span>
                                        </span>
                            <div class="d-flex align-items-end mt-11">
                                <span class="currency mr-2 coodiv-text-6 font-weight-light line-spacing-none text-blackish-blue">$</span>
                                <h2 class="price-value coodiv-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="19" data-monthly="49" data-yearly="19">
                                    <span class="coodiv-text-8 font-weight-light">.99</span>
                                </h2>
                            </div>
                            <span
                                    class="price-bottom-text dynamic-value coodiv-text-11 mt-2 text-blackish-blue coodiv-opacity-7 d-inline-flex"
                                    data-active="billed yearly"
                                    data-monthly="billed monthly"
                                    data-yearly="billed yearly"
                            ></span>
                            <ul class="card-list list-style-check pl-0 mt-5 mt-lg-11">
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Commercial License</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>100+ HTML UI Elements</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Unlimited Domain Support</li>
                                <li class="disabled coodiv-text-11 mb-2"><i class="feather icon-x"></i>6 months premium support</li>
                                <li class="disabled coodiv-text-11"><i class="feather icon-x"></i>Lifetime updates</li>
                            </ul>
                        </div>
                        <a href="" class="btn btn-special-home-plan with-icon coodiv-hover-y px-xl-8 px-lg-4 px-sm-8 px-4 rounded-20 coodiv-text-12 text-uppercase">Try The Plan Now</a>
                        <div class="pricing-box-one-payment text-center mt-5">
                            <a href="#"><img src="image/payment/icon-visa.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-maestro.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-bitcoin.png" alt="" /></a>
                        </div>
                    </div>

                    <div class="pricing-box-one plan-with-montains">
                        <i class="feather icon-server box-iconabsolute"></i>
                        <div class="price-content">
                                        <span class="small-title-header-span">
                                            Starter plan
                                            <span class="plan-badge">Save 40%</span>
                                        </span>
                            <div class="d-flex align-items-end mt-11">
                                <span class="currency mr-2 coodiv-text-6 font-weight-light line-spacing-none text-blackish-blue">$</span>
                                <h2 class="price-value coodiv-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="19" data-monthly="49" data-yearly="19">
                                    <span class="coodiv-text-8 font-weight-light">.99</span>
                                </h2>
                            </div>
                            <span
                                    class="price-bottom-text dynamic-value coodiv-text-11 mt-2 text-blackish-blue coodiv-opacity-7 d-inline-flex"
                                    data-active="billed yearly"
                                    data-monthly="billed monthly"
                                    data-yearly="billed yearly"
                            ></span>
                            <ul class="card-list list-style-check pl-0 mt-5 mt-lg-11">
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Commercial License</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>100+ HTML UI Elements</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Unlimited Domain Support</li>
                                <li class="disabled coodiv-text-11 mb-2"><i class="feather icon-x"></i>6 months premium support</li>
                                <li class="disabled coodiv-text-11"><i class="feather icon-x"></i>Lifetime updates</li>
                            </ul>
                        </div>
                        <a href="" class="btn btn-special-home-plan with-icon coodiv-hover-y px-xl-8 px-lg-4 px-sm-8 px-4 rounded-20 coodiv-text-12 text-uppercase">Try The Plan Now</a>
                        <div class="pricing-box-one-payment text-center mt-5">
                            <a href="#"><img src="image/payment/icon-visa.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-maestro.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-bitcoin.png" alt="" /></a>
                        </div>
                    </div>

                    <div class="pricing-box-one plan-with-montains">
                        <i class="feather icon-server box-iconabsolute"></i>
                        <div class="price-content">
                                        <span class="small-title-header-span">
                                            Starter plan
                                            <span class="plan-badge">Save 40%</span>
                                        </span>
                            <div class="d-flex align-items-end mt-11">
                                <span class="currency mr-2 coodiv-text-6 font-weight-light line-spacing-none text-blackish-blue">$</span>
                                <h2 class="price-value coodiv-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="19" data-monthly="49" data-yearly="19">
                                    <span class="coodiv-text-8 font-weight-light">.99</span>
                                </h2>
                            </div>
                            <span
                                    class="price-bottom-text dynamic-value coodiv-text-11 mt-2 text-blackish-blue coodiv-opacity-7 d-inline-flex"
                                    data-active="billed yearly"
                                    data-monthly="billed monthly"
                                    data-yearly="billed yearly"
                            ></span>
                            <ul class="card-list list-style-check pl-0 mt-5 mt-lg-11">
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Commercial License</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>100+ HTML UI Elements</li>
                                <li class="coodiv-text-10 mb-2"><i class="feather icon-check"></i>Unlimited Domain Support</li>
                                <li class="disabled coodiv-text-11 mb-2"><i class="feather icon-x"></i>6 months premium support</li>
                                <li class="disabled coodiv-text-11"><i class="feather icon-x"></i>Lifetime updates</li>
                            </ul>
                        </div>
                        <a href="" class="btn btn-special-home-plan with-icon coodiv-hover-y px-xl-8 px-lg-4 px-sm-8 px-4 rounded-20 coodiv-text-12 text-uppercase">Try The Plan Now</a>
                        <div class="pricing-box-one-payment text-center mt-5">
                            <a href="#"><img src="image/payment/icon-visa.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-maestro.png" alt="" /></a>
                            <a href="#"><img src="image/payment/icon-bitcoin.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews-overview text-center mt-20 mb-10">
            <p class="color-blackish-blue-opacity coodiv-text-10 d-lg-flex align-items-center justify-content-center">
                <img class="website-logo" src="image/logo-main-black.png" alt="main logo" /> is rated <strong>Excellent</strong>
                <span class="reviews-stars ml-5">
                                <i class="feather icon-star-on"></i> <i class="feather icon-star-on"></i> <i class="feather icon-star-on"></i> <i class="feather icon-star-on"></i> <i class="feather icon-star-on"></i>
                            </span>
                <strong>4.89</strong>&nbsp;out of 5 based on <strong>3,432 reviews</strong>
            </p>
        </div>
    </div>
</div>
<!-- END services plans section -->